{% extends 'base.html' %}

{% block content %}
<div class="cen">
<h1>{% block title %} New Blog {% endblock %}</h1>
<div class="fr">
<form method="post">
       <fieldset>
       <label for="title" class="lab">Title:</label>
       <br>
       <input class="inp" type="text" name="title" id="title"
              placeholder="Message title"
              value="{{ request.form['title'] }}"></input>
       <br>

       <label for="url">URL:</label>
       <br>
       <input class="inp" type="text" name="url" id="url"
              placeholder="Message url"
              value="{{ request.form['url'] }}"></input>
       <br>

       <label for="content">Content:</label>
       <br>
       <textarea name="content" id="content"
                 placeholder="Message content"
                 rows="15"
                 cols="60"
                 >{{ request.form['content'] }}</textarea>
                 <br>
       <div class="addrow">          
       <input class="add" type="submit" value="Submit" >
       <input class="add" type="reset" value="Reset" >
       </div>
       </fieldset>
</form>
</div>
</div>

{% endblock %}
              
              
              