{% extends 'base.html' %}

{% block content %}
   <div>
      <img src="https://res.cloudinary.com/dgnsxz9xp/image/upload/v1703612404/mypics/bxryf4djo3czsedsokjm.png" alt="future city">
   </div>
   <div class="cen">
      <h1>{% block title %} Intro {% endblock %}</h1>
      <p>Welcome to The Singularity Chronicle, your source for the latest news and insights on the rapidly evolving world of technology.</p>
      
      <p>Here, you'll find articles, commentary, and analysis on a wide range of topics, including artificial intelligence, robotics, virtual reality, and more. We'll explore the implications of these technologies for society, business, and the individual, and we'll keep you informed about the latest breakthroughs and developments in the field.</p>
      
      <p>From self-driving cars to intelligent robots, the possibilities for technological advancement seem limitless. But with these advancements come complex ethical and social questions that need to be addressed. At The Singularity Chronicle, we'll delve into these issues and examine how technology is shaping our world, for better or for worse.</p> 
      
      <p>Whether you're a tech enthusiast, a policymaker, or simply curious about the future, you'll find something of interest here.</p>
      
      <p>Our mission is to provide a comprehensive and engaging perspective on the future of technology, and to help our readers make sense of the exciting and sometimes overwhelming changes that are taking place in our world. So sit back, relax, and join us on this journey into the future!</p>
   </div>
{% endblock %}
